body {
            font-family: sans-serif;
            margin: 20px;
            min-height: 100vh;
            position: relative;
        }
        .container {
            max-width: 600px;
            margin: auto;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 5px;
        }
        input {
            width: 80px;
            margin-right: 10px;
            padding: 5px;
            border-radius: 8px;
            border: 1px solid #ccc;
        }
        button {
            padding: 5px 10px;
            transition: all 0.2s ease-in-out; /* เพิ่ม transition เพื่อให้เปลี่ยนสีนุ่มนวลขึ้น */
        }
        button:hover{
            border-color: antiquewhite;
        }
        .totalCalProt, .needMore {
            margin-top: 20px;
            padding: 10px;
            background-color: #f0f0f0;
            border-radius: 5px;
        }
        p {
            margin: 5px 0;
            font-weight: bold;
        }
        .detailed ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
            font-weight: bold;
        }
        /* Dark Mode CSS (ตามที่คุณกำหนด) */
        body.dark-mode {
            background-color: #2c2c2c;
            color: #f0f0f0;
        }
        body.dark-mode .container {
            border: 1px solid #f0f0f0;
        }
        body.dark-mode .inputDetailed ,
        body.dark-mode .theme-btn ,
        body.dark-mode .theme-text{
            background-color: #2c2c2c;
            color: #f0f0f0;
        }
        body.dark-mode button {
            background-color: #383838;
            color: #f0f0f0;
            border:1px solid #f0f0f0;
        }
        body.dark-mode button:hover {
            background-color: #444444;
            cursor: pointer;
        }
        body.dark-mode .totalCalProt,
        body.dark-mode .needMore {
            background-color: #2c2c2c; 
            border: 1px solid #f0f0f0;
        }
        body.dark-mode .totalCalProt p,
        body.dark-mode .needMore p {
            border: none;
        }
        #theme-toggle-btn {
            position: absolute;
            right: 50%;
            margin-right: -320px;
            z-index: inherit;
            border:1px solid #ccc;
        }
        #history-detailed {
            position: absolute;
            margin-right: -264px;
            right: 50%;
        }
        /* กำหนดตำแหน่งสำหรับปุ่ม Reset */
        .reset-btn-position { 
            position: absolute;
            margin-right: -190px; 
            right: 50%;
        }
        .theme-btn {
            border: 1px solid #ccc;
            cursor: pointer;
        }